<html>
<head>
<style type="text/css">
<!-- body {background: url("http://strangera.files.wordpress.com/2008/04/2008_astonmartin_dbs1.jpg") no-repeat center;
		   background-size: 100% 
}
->	
</style>
<title>Carsapp</title>
</head>

<body  background="http://www.anaseguros.com.mx/blog/wp-content/upLoads/2012/05/autos-compactos.jpg" width="100%">

<h1><center><font color="white">Compra y Venta de Vehiculos</font></center></h1>
<br></br>

<p ALIGN=right>
<a href="http://localhost:4567/vehicles"><font face="vendana" size="4" color="white"><em><b>Mostrar Vehiculos</b></em></font></a>
</p>

<p ALIGN=left>
<a href="http://localhost:4567/newQuestions"><font face="vendana" size="4" color="white"><em><b>Crear Pregunta</b></em></font></a>
</p>

<p ALIGN=right>
<a href="http://localhost:4567/posts"><font face="vendana" size="4" color="white"><em><b>Mostrar Publicaciones</b></em></font></a>
</p>
<br></br>

<p ALIGN=right>
<a href="http://localhost:4567/questions"><font face="vendana" size="4" color="white"><em><b>Mostrar Preguntas</b></em></font></a>
</p>

<br></br>

<p ALIGN=right>
<a href="http://localhost:4567/answers"><font face="vendana" size="4" color="white"><em><b>MostrarRespuestas</b></em></font></a>
</p>

</body>

</html
