<html>

<head>
<title>Carsapp</title>
</head>

<body background="http://strangera.files.wordpress.com/2008/04/2008_astonmartin_dbs1.jpg" width="100%">

<h1><center><font color="white">Compra y Venta de Vehiculos</font></center></h1>


<p ALIGN=right>
<font color="aqua"><em>Mostrar</em></font>
</p>

<p ALIGN=left>
<a href="http://localhost:4567/newUsers"><font color="white"><em>Crear Usuario</em></font></a>
</p>

<p ALIGN=right>
<a href="http://localhost:4567/users"><font color="white"><em>Usuarios</em></font></a>	
</p>

<p ALIGN=left>
<a href="http://localhost:4567/newCities"><font color="white"><em>Crear Ciudad</em></font></a>
</p>

<p ALIGN=right>
<a href="http://localhost:4567/cities"><font color="white"><em>Ciudades</em></font></a>
</p>

<p ALIGN=left>
<a href="http://localhost:4567/newVehicles"><font color="white"><em>Crear Vehiculo</em></font></a>
</p>

<p ALIGN=right>
<a href="http://localhost:4567/vehicles"><font color="white"><em>Vehiculos</em></font></a>
</p>

<p ALIGN=left>
<a href="http://localhost:4567/newPosts"><font color="white"><em>Crear Publicacion</em></font></a>
</p>

<p ALIGN=right>
<a href="http://localhost:4567/posts"><font color="white"><em>Publicaciones</em></font></a>
</p>

<p ALIGN=left>
<a href="http://localhost:4567/newQuestions"><font color="white"><em>Crear Pregunta</em></font></a>
</p>

<p ALIGN=right>
<a href="http://localhost:4567/questions"><font color="white"><em>Preguntas</em></font></a>
</p>

<p ALIGN=left>
<a href="http://localhost:4567/newAnswers"><font color="white"><em>Crear Respuesta</em></font></a>
</p>

<p ALIGN=right>
<a href="http://localhost:4567/answers"><font color="white"><em>Respuestas</em></font></a>
</p>

</body>

</html
