<html>
<head>
<style type="text/css">
<!-- body {background: url("http://strangera.files.wordpress.com/2008/04/2008_astonmartin_dbs1.jpg") no-repeat center;
		   background-size: 100% 
}
->	
</style>
<title>Carsapp</title>
</head>
</style>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 

<font face= "vendana" size="5" color="aqua"><b>¿Eres Nuevo? Registrate</b></font><br>

<FORM method=post action="/users">

<br><TABLE BORDER=0>

<TR>
  <TD><font color="aqua">Nombre:</font></TD>
  <TD>
  <INPUT type="text" name="first_name">
  </TD>
</TR>

<TR>
  <TD><font color="aqua">Apellido:</font></TD>
  <TD>
  <INPUT type="text" name="last_name">
  </TD>
</TR>

<TR>
  <TD><font color="aqua">E-mail:</font></TD>
  <TD>
  <INPUT type="text" name="email">
  </TD>
</TR>

<TR>
  <TD><font color="aqua">Contraseña:</font></TD>
  <TD>
  <INPUT type="password" name="password">
  </TD>
</TR>

<TR>
  <TD COLSPAN=2>
  <INPUT type="submit" value="Registrarse">
  </TD>
</TR>
</TABLE>
</FORM>

<br>
</br>

<font face= "vendana" size="5" color="aqua"><b>Usuario Registrado</b></font><br>

<FORM method=post action="/login">

<br><TABLE BORDER=0>

<TR>
  <TD><font color="aqua">E-mail:</font></TD>
  <TD>
  <INPUT type="text" name="email">
  </TD>
</TR>

<TR>
  <TD><font color="aqua">Contraseña:</font></TD>
  <TD>
  <INPUT type="password" name="password">
  </TD>
</TR>

<TR>
  <TD COLSPAN=2>
  <INPUT type="submit" value="Iniciar Sesion">
  </TD>
</TR>
</TABLE>
</FORM>
<table width="35%" border="1" cellpadding="0" cellspacing="0" bgcolor="#FFFF00" align="center">
<tr><td>
<font face="vendana" size="3" color="Black"> <b>ERROR LA CONTASEÑA INGRESADA ES INCORRECTA 
		INGRESE NUEVAMENTE USUARIO Y CONTRASEÑA</b>
</font>
</td></tr>
</table>
</body>
</html>
